# Release #3 05/05/1993
# This is the default configuration file.  All lines beginning with a # are
# treated as comments.
#
# This file contains a list of all of the intstruments and their program
# numbers that may be used to play a midi file.  Program #0 is the default
# instrument and must be in every configuration file even if the midi file
# doesn't use that program number.
#
# Each line must have a program number, a space, and then the patch file name
# for that instrument.  Optionally, a volume number from 0 to 100 may follow,
# and then a detune number in semitones
#
# Revisions:
#           06/29/1993 - #45 is now TREMSTR
#           09/09/2026 - Manually adapted from GUS config format to the TiMidity++ config format. (LÉ)
dir .
bank 0
	0   ACPIANO.PAT  comm=Acoustic_Piano 
	1   BRITEPNO.PAT comm=Bright_Piano   
	2   SYNPIANO.PAT comm=Synth_Piano    
	3   HONKY.PAT    comm=Honky_Tonk     
	4   EPIANO1.PAT  comm=Rhodes_Piano   
	5   EPIANO2.PAT  comm=Chorused_Piano 
	6   HRPSCHRD.PAT comm=Harpsichord    
	7   CLAVINET.PAT comm=Clavinet       
	8   CELESTE.PAT  comm=Celesta        
	9   GLOCKEN.PAT  comm=Glockenspiel   
	10  MUSICBOX.PAT comm=Music_Box      
	11  VIBES.PAT    comm=Vibraphone     
	12  MARIMBA.PAT  comm=Marimba        
	13  XYLOPHON.PAT comm=Xylophone      
	14  TUBEBELL.PAT comm=Tubular_Bell   
	15  SANTUR.PAT   comm=Santur         
	16  HOMEORG.PAT  comm=Home_Organ     
	17  PERCORG.PAT  comm=Percussive_Org 
	18  ROCKORG.PAT  comm=Rock_Organ     
	19  CHURCH.PAT   comm=Church_Organ   
	20  REEDORG.PAT  comm=Reed_Organ     
	21  ACCORDN.PAT  comm=Fr_Accordion   
	22  HARMONCA.PAT comm=Harmonica      
	23  CONCRTNA.PAT comm=Concertina     
	24  NYGUITAR.PAT comm=Nylon_Guitar   
	25  ACGUITAR.PAT comm=Steel_Guitar   
	26  JAZZGTR.PAT  comm=Jazz_Guitar    
	27  CLEANGTR.PAT comm=Clean_Guitar   
	28  MUTEGTR.PAT  comm=Muted_Guitar   
	29  ODGUITAR.PAT comm=Overdrv_Guitar 
	30  DISTGTR.PAT  comm=Distort_Guitar 
	31  GTRHARM.PAT  comm=Guit_Harmonics 
	32  ACBASS.PAT   comm=Acoustic_Bass  
	33  FNGRBASS.PAT comm=Fingered_Bass  
	34  PICKBASS.PAT comm=Picked_Bass    
	35  FRETLESS.PAT comm=Fretless_Bass  
	36  SLAPBAS1.PAT comm=Slap_Bass_1    
	37  SLAPBAS2.PAT comm=Slap_Bass_2    
	38  SYNBASS1.PAT comm=Synth_Bass_1   
	39  SYNBASS2.PAT comm=Synth_Bass_2   
	40  VIOLIN.PAT   comm=Violin         
	41  VIOLA.PAT    comm=Viola          
	42  CELLO.PAT    comm=Cello          
	43  CONTRABA.PAT comm=Contrabass     
	44  TREMSTR.PAT  comm=Tremolo_String 
	45  PIZZCATO.PAT comm=Pizzicato_Str  
	46  HARP.PAT     comm=Harp           
	47  TIMPANI.PAT  comm=Timpani        
	48  MARCATO.PAT  comm=Marcato_String 
	49  SLOWSTR.PAT  comm=Slow_Strings   
	50  SYNSTR1.PAT  comm=Synth_Strings  
	51  SYNSTR2.PAT  comm=Synth_Strings  
	52  CHOIR.PAT    comm=Choir_Aahs     
	53  DOO.PAT      comm=Doo_Voice      
	54  VOICES.PAT   comm=Synth_Voice    
	55  ORCHHIT.PAT  comm=Orchestra_Hit  
	56  TRUMPET.PAT  comm=Trumpet        
	57  TROMBONE.PAT comm=Trombone       
	58  TUBA.PAT     comm=Tuba           
	59  MUTETRUM.PAT comm=Muted_Trumpet  
	60  FRENCHRN.PAT comm=French_Horn    
	61  HITBRASS.PAT comm=Hit_Brass      
	62  SYNBRAS1.PAT comm=Synth_Brass_1  
	63  SYNBRAS2.PAT comm=Synth_Brass_2  
	64  SPRNOSAX.PAT comm=Soprano_Sax    
	65  ALTOSAX.PAT  comm=Alto_Sax       
	66  TENORSAX.PAT comm=Tenor_Sax      
	67  BARISAX.PAT  comm=Baritone_Sax   
	68  OBOE.PAT     comm=Oboe           
	69  ENGLHORN.PAT comm=English_Horn   
	70  BASSOON.PAT  comm=Bassoon        
	71  CLARINET.PAT comm=Clarinet       
	72  PICCOLO.PAT  comm=Piccolo        
	73  FLUTE.PAT    comm=Flute          
	74  RECORDER.PAT comm=Recorder       
	75  WOODFLUT.PAT comm=Wooden_Flute   
	76  BOTTLE.PAT   comm=Bottle_Blow    
	77  SHAKAZUL.PAT comm=Shakuhachi     
	78  WHISTLE.PAT  comm=Whistle        
	79  OCARINA.PAT  comm=Ocarina        
	80  SQRWAVE.PAT  comm=Square_Wave    
	81  SAWWAVE.PAT  comm=Sawtooth_Wave  
	82  CALLIOPE.PAT comm=Calliope_Lead  
	83  CHIFLEAD.PAT comm=Chiffer_Lead   
	84  CHARANG.PAT  comm=Charang_Lead   
	85  VOXLEAD.PAT  comm=Voice_Lead     
	86  LEAD5TH.PAT  comm=Fifth_Saw_Lead 
	87  BASSLEAD.PAT comm=Bass_&_Lead    
	88  FANTASIA.PAT comm=Fantasia_Pad   
	89  WARMPAD.PAT  comm=Warm_Pad       
	90  POLYSYN.PAT  comm=Polysynth_Pad  
	91  GHOSTIE.PAT  comm=Ghostie_Choir  
	92  BOWGLASS.PAT comm=BowedGlassPad  
	93  METALPAD.PAT comm=Metal_Pad      
	94  HALOPAD.PAT  comm=Halo_Pad       
	95  SWEEPER.PAT  comm=Sweeper_Pad    
	96  AURORA.PAT   comm=Aurora         
	97  SOUNDTRK.PAT comm=Soundtrack     
	98  CRYSTAL.PAT  comm=Crystal        
	99  ATMOSPHR.PAT comm=Atmosphere     
	100 FRESHAIR.PAT comm=Fresh_Air      
	101 UNICORN.PAT  comm=Unicorn        
	102 ECHOVOX.PAT  comm=Echoed_Voice   
	103 STARTRAK.PAT comm=Star_Track     
	104 SITAR.PAT    comm=Sitar          
	105 BANJO.PAT    comm=Banjo          
	106 SHAMISEN.PAT comm=Shamisen       
	107 KOTO.PAT     comm=Koto           
	108 KALIMBA.PAT  comm=Kalimba        
	109 BAGPIPES.PAT comm=Bagpipes       
	110 FIDDLE.PAT   comm=Fiddle         
	111 SHANNAI.PAT  comm=Shanai         
	112 CARILLON.PAT comm=Carillon       
	113 AGOGO.PAT    comm=Agogo          
	114 STEELDRM.PAT comm=Steel_Drums    
	115 WOODBLK.PAT  comm=Woodblock      
	116 TAIKO.PAT    comm=Taiko          
	117 TOMS.PAT     comm=Melodic_Tom    
	118 SYNTOM.PAT   comm=Synth_Tom      
	119 REVCYM.PAT   comm=Reverse_Cymbal 
	120 FX-FRET.PAT  comm=Gtr_Fret_Noise 
	121 FX-BLOW.PAT  comm=Breath_Noise   
	122 SEASHORE.PAT comm=Seashore       
	123 JUNGLE.PAT   comm=Jungle         
	124 TELEPHON.PAT comm=Telephone      
	125 HELICPTR.PAT comm=Helicopter     
	126 APPLAUSE.PAT comm=Applause       
	127 PISTOL.PAT   comm=Pistol         
drumset 0
	27  HIGHQ.PAT
	28  SLAP.PAT
	29  SCRATCH1.PAT
	30  SCRATCH2.PAT
	31  STICKS.PAT
	32  SQRCLICK.PAT
	33  METCLICK.PAT
	34  METBELL.PAT
	35  KICK1.PAT
	36  KICK2.PAT
	37  STICKRIM.PAT
	38  SNARE1.PAT
	39  CLAPS.PAT
	40  SNARE2.PAT
	41  TOMLO2.PAT
	42  HIHATCL.PAT
	43  TOMLO1.PAT
	44  HIHATPD.PAT
	45  TOMMID2.PAT
	46  HIHATOP.PAT
	47  TOMMID1.PAT
	48  TOMHI2.PAT
	49  CYMCRSH1.PAT
	50  TOMHI1.PAT
	51  CYMRIDE1.PAT
	52  CYMCHINA.PAT
	53  CYMBELL.PAT
	54  TAMBORIN.PAT
	55  CYMSPLSH.PAT
	56  COWBELL.PAT
	57  CYMCRSH2.PAT
	58  VIBSLAP.PAT
	59  CYMRIDE2.PAT
	60  BONGOHI.PAT
	61  BONGOLO.PAT
	62  CONGAHI1.PAT
	63  CONGAHI2.PAT
	64  CONGALO.PAT
	65  TIMBALEH.PAT
	66  TIMBALEL.PAT
	67  AGOGOHI.PAT
	68  AGOGOLO.PAT
	69  CABASA.PAT
	70  MARACAS.PAT
	71  WHISTLE1.PAT
	72  WHISTLE2.PAT
	73  GUIRO1.PAT
	74  GUIRO2.PAT
	75  CLAVE.PAT
	76  WOODBLK1.PAT
	77  WOODBLK2.PAT
	78  CUICA1.PAT
	79  CUICA2.PAT
	80  TRIANGL1.PAT
	81  TRIANGL2.PAT
	82  SHAKER.PAT
	83  JINGLES.PAT
	84  BELLTREE.PAT
	85  CASTINET.PAT
	86  SURDO1.PAT
	87  SURDO2.PAT
#end_multipatch

#169 override_patch
	#39 SNARE1.PAT use_note 38
#end_multipatch
